In [94]:
import numpy as np
import pandas as pd
import time
import requests
import json

In [95]:
weather_data = requests.get("https://api.data.gov.sg/v1/environment/pm25").json()

In [96]:
weather_data

{'region_metadata': [{'name': 'west',
   'label_location': {'latitude': 1.35735, 'longitude': 103.7}},
  {'name': 'east',
   'label_location': {'latitude': 1.35735, 'longitude': 103.94}},
  {'name': 'central',
   'label_location': {'latitude': 1.35735, 'longitude': 103.82}},
  {'name': 'south',
   'label_location': {'latitude': 1.29587, 'longitude': 103.82}},
  {'name': 'north',
   'label_location': {'latitude': 1.41803, 'longitude': 103.82}}],
 'items': [{'timestamp': '2021-06-19T23:00:00+08:00',
   'update_timestamp': '2021-06-19T23:08:52+08:00',
   'readings': {'pm25_one_hourly': {'west': 18,
     'east': 6,
     'central': 19,
     'south': 17,
     'north': 18}}}],
 'api_info': {'status': 'healthy'}}

In [97]:
region_info = weather_data["region_metadata"]
region_info

[{'name': 'west', 'label_location': {'latitude': 1.35735, 'longitude': 103.7}},
 {'name': 'east',
  'label_location': {'latitude': 1.35735, 'longitude': 103.94}},
 {'name': 'central',
  'label_location': {'latitude': 1.35735, 'longitude': 103.82}},
 {'name': 'south',
  'label_location': {'latitude': 1.29587, 'longitude': 103.82}},
 {'name': 'north',
  'label_location': {'latitude': 1.41803, 'longitude': 103.82}}]

In [102]:
region_info = pd.DataFrame.from_dict(weather_data["region_metadata"])
region_info

      name                              label_location
0     west   {'latitude': 1.35735, 'longitude': 103.7}
1     east  {'latitude': 1.35735, 'longitude': 103.94}
2  central  {'latitude': 1.35735, 'longitude': 103.82}
3    south  {'latitude': 1.29587, 'longitude': 103.82}
4    north  {'latitude': 1.41803, 'longitude': 103.82}

In [107]:
region_info['label_location'].apply(pd.Series)
pd.concat([region_info.drop(['label_location'],axis=1),region_info['label_location'].apply(pd.Series)],axis=1)

      name  latitude  longitude
0     west   1.35735     103.70
1     east   1.35735     103.94
2  central   1.35735     103.82
3    south   1.29587     103.82
4    north   1.41803     103.82

In [90]:
pm_readings = weather_data['items']
pm_readings = pm_readings[0]
# convert the readings to

In [117]:
#processing the pm_readings 
pm_info = pd.DataFrame.from_dict(weather_data['items'][0])
pm_info['readings'].apply(pd.Series)

                 west  east  central  south  north
pm25_one_hourly    18     6       19     17     18

In [123]:
pm_info.drop(['readings'],axis=1)

                                 timestamp           update_timestamp
pm25_one_hourly  2021-06-19T23:00:00+08:00  2021-06-19T23:08:52+08:00

In [124]:
pd.concat([pm_info.drop(['readings'],axis=1),pm_info['readings'].apply(pd.Series)],axis=1)

,timestamp,update_timestamp,west,east,central,south,north
pm25_one_hourly,2021-06-19T23:00:00+08:00,2021-06-19T23:08:52+08:00,18,6,19,17,18